@keyframes animation1 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(imagenes/codigo.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.navegacion {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #181d31;
  align-items: center;
  padding: 10px 70px;
 

}
.navegacion-contenedor-botones {
  display: flex;
  gap: 30px;

}

.boton {
  padding: 10px;
  background-color: #e6ddc4;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 3px 3px;
  color: #678983;
  font-family:'Montserrat', sans-serif;
  font-weight:300px
}

.boton:active {
  transform: translate(3px, 2px);
  box-shadow:0px 0px ;
}
.navegacion-contenedor-logo {
  padding-top: 8px;
  animation: animation1 2s ease 0s 1 normal forwards;
  position: relative;
  top: -100px;
}
.contenedor-titulo  { 
  display: flex;
  justify-content: center;
  min-height: 50vh;
  align-items: center;

} 
.titulo {
  font-size: 50px;
    text-shadow: 2px 2px gray, 6px 6px black;
    color: #fff; 
    font-family:'Montserrat', sans-serif;
}
.contenedor-section{
  padding: 100px;
    background-color: #181d31;
    height:1100px;
}
.texto-contenido{
    text-align: center;
    color: #678983;
    text-shadow:2px 2px black;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    
}
.cajas{
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
 
}
 .caja{
  border:5px solid #678983;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 400px; 
  background-color:#F0E9D2 ;

 }

.botones-azul:active{
  transform: translate(3px, 2px);
  box-shadow: 0px 0px darkgray;

}
 .caja img{
  width: 100%;
 }

 .caja span{
  text-align: center;
  margin: 20px;
  height: 36px;
  font-family:'Montserrat', sans-serif;
 }

.caja a{
  padding: 10px;
  background-color: #181d31;
  color: #e6ddc4;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  font-family:'Montserrat', sans-serif;
  box-shadow: 4px 4px #678983;
  margin-top: 40px;
  width: 160px;
  text-align: center;
}
.imagen-juego{
  margin-bottom: 23px;
}

.footer{
  display: flex;
  background-color: #678983;
  height: 100px;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.footer img{
  display: flex;
  height: 80px;
  width: 110px;
}
.footer-izq {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 60px;

}

.titulo-footer{
  text-align: center;
}


.contenedor-imagenes{
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding-top: 4rem;
}

.contenedor-rompecabezas{
  display: flex;
  gap:1px;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding-top: 4rem; 
}

.caja-a-soltar{
  height: 404px;
  width: 279px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  border: 2px solid black;
 font-family:'Montserrat', sans-serif;

}

.img{
width: 275px;
height: 400px;
}

.boton-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton-reinicio{
  padding: 10px;
  background-color: #e6ddc4;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 3px 3px;
  color: #678983;
  font-family:'Montserrat', sans-serif;
  text-align: center;
  width: 150px;
  margin: 3%;
 display: block;
 font-weight: 300;
}
  
.boton-reinicio:active{
  transform: translate(3px, 2px);
  box-shadow:0px 0px ;
}

/*historia*/

.contenedor-section-hist{
  height: 2098px;
  padding: 100px;
  background-color: #181d31; 
}
.cont-historia{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

} 

.card-hist{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:80px 50px;
  gap: 20px;
  background-color: linear-gradient(10% #E6DDC4,#181D31 100%);
  
  
}
.text-hist{
  width: 45%;
  color: white;
  font-family:'Montserrat', sans-serif ;
}

  h2 {
    text-shadow: 2px 2px black;
    font-size:40px ; 
    text-align: center;
    color: #678983;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
  }

  .h2hist1{
   width: 50vw; 
  }
  .text-hist1{
    width: 50vw;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  .h2hist2{
    width: 25vw;
  }

  .text-hist2-container{
    width: 75vw;
  }
  .text-hist2{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }

  /*video*/

  .cont-video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;


  }
  .contenedor-video{
    padding: 5px;
    background-color: black;
    width: 70%;
  }

  .barra-video{
    justify-content: space-between; 
    background-color: #302b2b;
    padding: 2px 5px;
    display: flex;
    border-radius: 10px;
    font-family:'Montserrat', sans-serif;
  }

  .botonera-video{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    margin: auto 0px;
    gap: 20px;
  }

  #play{
    width: 80px;
  }
  #pausa{
    width: 80px;
  }
  
  .botonesVideo:active{
    transform: translate(3px,2px);
  }
  .botonesVideo{
   box-shadow: 2px 3px #678983;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #E6DDC4;
    color: #181D31;
    font-weight: 300; 
  }
  
  #duracion {
    color: white;
    padding-top: 28px;
    padding-right: 10px;
    font-family:'Montserrat', sans-serif; ;
  }